html {
  font-family: "arial";
}

h2 {
  text-align: center;
  margin-top: 80px;
}

#container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: url(https://unsplash.it/250/250/);
  background-position: center center;
  perspective: 200px;
}
#container div {
  width: 50px;
  height: 50px;
  float: left;
  background: #76829a;
  transition: all 0.3s;
  backface-visibility: visible;
}
#container div.flip {
  transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
  opacity: 0;
}
#container div.flip-delay {
  transition-delay: 0.2s;
}
#container div:hover {
  box-shadow: inset 0 0 5px #fff;
}
